<!DOCTYPE html>
<html lang="en"><!-- Basic -->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<!-- Site Metas -->
	<title>Malaria Lab</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Site Icons -->
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/Favicon.png') }}" type="image/x-icon">
	<link rel="apple-touch-icon" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<!-- Pogo Slider CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/pogo-slider.min.css') }}">
	<!-- Site CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<!-- Responsive CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">


	<!--[if lt IE 9]>
  	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<style>
		.image-Pre {
			width: 300px;
			min-height: 100px;
			border: 2px solid black;
			margin-top: 15px;

			display: flex;
			align-items: center;
			justify-content: center;
			font-weight: bold;
			color: black;

		}

		.image-Pre-img {
			display: none;
			width: 100%;
		}
	</style>

</head>

<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

	<!-- LOADER -->
	<!-- <div id="preloader">
		<div class="loader">
			<img src="images/preloader.gif" alt="" />
		</div>
    </div>end loader -->
	<!-- END LOADER -->

	<!-- Start main-top -->
	<div class="main-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="left-top">
						<a class="new-btn-d br-2" href="#"><span>Check
								Infection</span></a>
						<div class="mail-b"><a href="#"><i class="fa fa-envelope-o"
									aria-hidden="true"></i>info@MalariaLab.com</a></div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="wel-nots">
						<p>Welcome to Malaria Lab</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End main-top -->

	<!-- Start header -->
	<header class="top-header">
		<nav class="navbar header-nav navbar-expand-lg">
			<div class="container">
				<a class="navbar-brand" href="{{ url_for('index') }}"><img class="logo"
						src="{{ url_for('static', filename='images/logo.png') }}" alt="image"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd"
					aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
					<span></span>
					<span></span>
					<span></span>
				</button>
				<div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
					<ul class="navbar-nav">
						<li><a class="nav-link active" href="#home">Home</a></li>
						<li><a class="nav-link" href="#about">About Us</a></li>
						<li><a class="nav-link" href="#services">Services</a></li>
						<li><a class="nav-link" href="#contact">Contact</a></li>
						<li><a class="nav-link" href="{{ url_for('login') }}">Login</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- End header -->

	<!-- Start Banner -->
	<div class="ulockd-home-slider">
		<div class="container-fluid">
			<div class="row">
				<div class="pogoSlider" id="js-main-slider">
					<div class="pogoSlider-slide" data-transition="fade" data-duration="1500"
						style="background-image:url({{ url_for('static', filename='images/slider-01.jpg') }});">
						<div class="lbox-caption pogoSlider-slide-element">
							<div class="lbox-details">
								<h1>Welcome to Malaria Lab</h1>
								<h3 class="abc">We check the infection based on blood cell image with the use of machine
									learning and provide a result of infection.</h3>
								<a href="#about" class="btn">About Us</a>
							</div>
						</div>
					</div>
					<div class="pogoSlider-slide" data-transition="fade" data-duration="1500"
						style="background-image:url({{ url_for('static', filename='images/slider-02.jpg') }});">
						<div class="lbox-caption pogoSlider-slide-element">
							<div class="lbox-details">
								<h1>We are Expert in The Field of Infection Detection</h1>
								<h3 class="abc">Nothing in life is to be feared; it is only to be understood.</h3>
								<h3 class="abc">Now is the time to understand more, so that we may fear less.</h3>
								<a href="#services" class="btn">Services</a>
							</div>
						</div>
					</div>
					<div class="pogoSlider-slide" data-transition="fade" data-duration="1500"
						style="background-image:url({{ url_for('static', filename='images/slider-03.jpg') }});">
						<div class="lbox-caption pogoSlider-slide-element">
							<div class="lbox-details">
								<h1>We'd love to hear from you</h1>
								<h3 class="abc">Our customer support services are the best in bussines, with a 99% customer
									satisfaction rate</h3>
								<h3 class="abc">We are always here to help you.</h3>
								<a href="#contact" class="btn">Contact Us</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Banner -->

	<!-- Start About Us -->
	<div id="about" class="about-box">
		<div class="about-a1">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="title-box">
							<h2>About Us</h2>
							<p>ML base Infection Detection Tool</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div class="row align-items-center about-main-info">
							<div class="col-lg-6 col-md-6 col-sm-12">
								<h2>Welcome to Malaria Lab</h2>
								<p class="paraText">This website provides a result of infection for any disease with
									blood cell images. We have gathered datasets that include segmented cells from thin
									blood smear slide images acquired from the Disease Screener research operation.
								</p>
								<p class="paraText">We have applied CNN on the given dataset in this
									project because CNN provide better predictions.
								</p>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12">
								<div class="about-m">
									<ul id="banner">
										<li>
											<img src="{{ url_for('static', filename='images/about-img-01.jpg') }}"
												alt="">
										</li>
										<li>
											<img src="{{ url_for('static', filename='images/about-img-02.jpg') }}"
												alt="">
										</li>
										<li>
											<img src="{{ url_for('static', filename='images/about-img-03.jpg') }}"
												alt="">
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End About Us --> 

	<!-- Start Contact -->
	<div id="contact" class="contact-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-box">
						<h2>Contact us</h2>
						<p>We'd love to hear from you. Here's how you can reach us...</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-xs-12">
					<div class="left-contact">
						<div class="media cont-line">
							<div class="media-left icon-b">
								<i class="fa fa-location-arrow" aria-hidden="true"></i>
							</div>
							<div class="media-body dit-right">
								<h4>Address</h4>
								<br>
								<p>Kisii University, Kisii, Kenya.</p>
							</div>
						</div>
						<div class="media cont-line">
							<div class="media-left icon-b">
								<i class="fa fa-envelope" aria-hidden="true"></i>
							</div>
							<div class="media-body dit-right">
								<h4>Email</h4><br>
								<a href="mailto:info@SenseLab.com">info@MalariaLab.com</a><br>
							</div>
						</div>
						<div class="media cont-line">
							<div class="media-left icon-b">
								<i class="fa fa-volume-control-phone" aria-hidden="true"></i>
							</div>
							<div class="media-body dit-right">
								<h4>Phone Number</h4><br>
								<a href="tel:0794732645">0794732645</a><br>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Contact -->

	<!-- Start Footer -->
	<footer class="footer-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<p class="footer-company-name">All Rights Reserved. &copy; 2024 <a href="#">Malaria Lab</a></p>
				</div>
			</div>
		</div>
	</footer>
	<!-- End Footer -->

	<a href="#" id="scroll-to-top" class="new-btn-d br-2"><i class="fa fa-angle-up"></i></a>

	<!-- ALL JS FILES -->
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<!-- ALL PLUGINS -->
	<script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.pogo-slider.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/slider-index.js') }}"></script>
	<script src="{{ url_for('static', filename='js/smoothscroll.js') }}"></script>
	<script src="{{ url_for('static', filename='js/TweenMax.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
	<script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/form-validator.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/contact-form-script.js') }}"></script>
	<script src="{{ url_for('static', filename='js/isotope.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/images-loded.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/custom.js') }}"></script>

</body>

</html>